<style>
.logo {
	display: inline;
	font-family: arial;
	font-weight: bold;
	font-size: 30;
	padding-left: 5px
}
.search-bar {
	display: flex;
	width: 50%;
	padding-left: 5px;
	padding-right: 10px;
}
.search-bar input[type=text] {
	flex: 1;
    background-color: white;
	width: 500px;
    height: 30px;
    background-repeat: no-repeat;
}
.search-bar input[type=submit] {
	color: gray;
	background-color: white;
	border-radius: 0px 10px 10px 0px;
	border-color: black;
}
.search-bar input[type=submit]:hover {
	color: black;
	background-color: orange;
}
.search-bar input[type=checkbox] {
	display: block;
}
.search-buttons {
	padding-top: 5px;
	padding-left: 5px;
	font-family: arial;
	font-size: 15px;
}
.row {
	float: left;
	padding-left: 30px;
	padding-bottom: 20px;
	width: 100%-30px;
}
.row a{
	text-decoration: none;
}
.row.link-title a:hover{
	text-decoration: underline;
}
.link-title {
	font-size: 25;
}
.link-title:hover {
	text-decoration: underline;
}
.link-text {
	color: green;
}
.description {
	color: gray;
}
.slidecontainer {
	display: inline;
    width: 250px;
	padding-top: 20px;
	padding-bottom: 10px;
}
.slider {
    -webkit-appearance: none;
    width: 200px;
    height: 10px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.slider:hover {
    opacity: 1;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
	border-radius: 5px;
	border-color: black;
    background: orange;
    cursor: pointer;
}
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}
.date {
	font-size: 12px;
}
.query_response {
	font-size: 12px;
	color: gray;
	padding-left: 5px;
	padding-bottom: 10px;
}
.padding {
	padding-top: 10px;
}
.left {
	left: 0;
}
.right {
	float: right;
	right: 0;
}
.split {
	position: relative;
	display: inline-block;
	width: 50%;
	overflow-x: hidden;
}

</style>

<div class="logo"> R StackOverflow </div>
<form action="/" method="post">
	<div class="search-bar">
		{% if query %}
		<input type="text" name="query" value="{{ query }}" placeholder="Search..">
		{% else %}
		<input type="text" name="query" placeholder="Search..">
		{% endif %}
		<input type="submit" value="Search">
	</div>
	<div class="search-buttons">
		<b>Date:</b>
		<input type="hidden" name="before" value=0>
		<input type="checkbox" name="before" value=1> Before
		<input type="hidden" name="after" value=0>
		<input type="checkbox" name="after" value=1> After
		<input type="date" name="date" placeholder="dd-mm-jjjj">
		<br>
		<div class="padding">
			<div class="slidecontainer">
		  	<b>Score:</b>
			<input type="range" name="score" min="-200" max="1000" value="0" step="1" class="slider" id="score"><b><span id="demo"></span></b>
			</div>
			<script>
				var slider = document.getElementById("score");
				var output = document.getElementById("demo");
				output.innerHTML = slider.value;

				slider.oninput = function() {
					output.innerHTML = this.value;
				}
			</script>
		</div>

	</div>

</form><hr>
{% if result and result|length%}
	<div class="split left">
	<div class="query_response">
		Showing results for query: {{ query }}
	</div>
	{% for res in result %}
		<div class="row">
			<!--Use http in front of link!!-->
			<a href="{{ res.id }}">
				<div class="link-title">
					{{ res.title }}
				</div>
				<div class="link-text">
					{{ res.id }}
				</div>
			</a>
			<div class="description">
				{{ res.description }}
			</div>
			<div class="date">
				Score: {{ res.score }} | Date: {{ res.question_date }}
			</div>
		</div>
	{% endfor %}
	</div>
	<div class=" split right">
		<div class="query_response">
			Showing graphs for query: {{ query }}
		</div>
		<img src="search/static/wordclouds/0.png" alt="My image">
	</div>
{% endif %}
